{% extends "bootstrap/base.html" %}
{% block head %}
<head>
   <!-- meta tags not used in this project -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Page title -->
   <title>Drag-n-Drop - drag-n-drop-ml.com</title>
   <!-- Latest compiled and minified CSS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <!-- favicon is in static folder; href points to a "variable" defined by curly braces. -->
   <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <!-- Custom styles in main.css -->
   <!-- main.css is in static folder; href points to a "variable" defined by curly braces. -->
   <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   <link href="{{ url_for('static', filename='css/jquery-3.3.1.min.js') }}" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   <script>
      $(document).ready(function(){
          $("button").click(function(e){
              e.preventDefault();
              var dataResults = $("form").serializeArray();
              $.ajax({
                data: dataResults,
                type : 'POST',
                url : '/process',
                success: function(data){
                  $("#result").html(data.result);

                  // alert(data.result);
              }
            })
          });

      });
   </script>
</head>
{% endblock %}
{% block content %}
<div class="container">
</br>
<ul class="nav nav-tabs">
   <li role="presentation" class="active"><a href="/">Step 1: Upload</a></li>
   <li role="presentation"><a href="/data">Step 2: Select Columns</a></li>
   <li role="presentation"><a href="/models">Step 3: Rename Columns</a></li>
   <li role="presentation"><a href="/predictions">Predictions</a></li>
   <li role="presentation"><a href="/county">County</a></li>
   <li role="presentation"><a href="/state">State</a></li>
   <li role="presentation"><a href="/about">About/Contact</a></li>
</ul>
<div class="page-header">
   <h1>Drag-n-Drop ML: <small>Code-Free Machine Learning</small></h1>
   </br>
   <div class="container">
      <div class="row">
         <div class="col-sm-6">
            <div class="jumbotron">
               <h3>Rename Columns</h3>
               <form action="/process">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th scope="col">Old Name</th>
                           <th scope="col">New Name</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for col in columns %}
                        <tr>
                           <td>{{col}}</td>
                           <td>
                              <input type="text" name="{{col}}" placeholder="New Column Name">
                           </td>
                        </tr>
                        {% endfor %}
                  </table>
                  <button type="submit" class="btn btn-primary" >Submit Here</button>
               </form>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="jumbotron">
               <h3>Table Summary with New Column Names</h3>
               <div class="table table-hover">
                  <div id="result">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<footer class="footer">
   <div class="container" align="center">
      <a href="https://github.com/howardvickers/" class="btn btn-social-icon btn-github btn-small"><i class="fa fa-github fa-3x"></i></a>
      <a href="https://linkedin.com/in/howardvickers/" class="btn btn-social-icon btn-linkedin btn-small"><i class="fa fa-linkedin fa-3x"></i></a>
      </p>
   </div>
</footer>
{% endblock %}
{% block scripts %}
{{super()}}
{% endblock %}
